/*

BROWSER SCROLLBAR KITS

*/

/* CHROME & SAFARI */
html::-webkit-scrollbar {
  width: 8px; 
}

html::-webkit-scrollbar-track {
background-color: transparent;
}

html::-webkit-scrollbar-thumb {
background: var(--wizard-yellow);
border-radius: 8px;
}

html::-webkit-scrollbar-thumb:hover {
  background: var(--wizard-blue);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:active {
  background: var(--wizard-mocha);
  border-radius: 10px;
}

/* MOZILLA FIREFOX */
html::-moz-scrollbar {
  width: 8px; 
}

html::-moz-scrollbar-track {
  background-color: transparent;
}

html::-moz-scrollbar-thumb {
  background: var(--wizard-yellow);
  border-radius: 8px;
}

html::-moz-scrollbar-thumb:hover {
  background: var(--wizard-blue);
  border-radius: 10px;
}

html::-moz-scrollbar-thumb:active {
  background: var(--wizard-mocha);
  border-radius: 10px;
}


/* MICROSOFT INTERNET EXPLORER */
html::-ms-scrollbar {
  width: 8px; 
}

html::-ms-scrollbar-track {
background-color: transparent;
}

html::-ms-scrollbar-thumb {
  background: var(--wizard-yellow);
  border-radius: 8px;
}

html::-ms-scrollbar-thumb:hover {
  background: var(--wizard-blue);
  border-radius: 10px;
}

html::-ms-scrollbar-thumb:active {
  background: var(--wizard-mocha);
  border-radius: 10px;
}

/* OPERA */
html::-o-scrollbar {
  width: 8px; 
}

html::-o-scrollbar-track {
background-color: transparent;
}

html::-o-scrollbar-thumb {
background: var(--wizard-yellow);
border-radius: 8px;
}

html::-o-scrollbar-thumb:hover {
  background: var(--wizard-blue);
  border-radius: 10px;
}

html::-o-scrollbar-thumb:active {
  background: var(--wizard-mocha);
  border-radius: 10px;
}